.card-container {
    width: 100%;

    .card {
        border-color: rgba(0, 0, 0, .69);
        
        .card-header, .card-footer {
            background-color: rgba(0, 0, 0, .76);
            color: #fff;
        }
    
        .card-body {
            background-color: rgba(0, 0, 0, .75);
            padding: 15px 1.25rem;
            max-height: 65vh;
            overflow-y: auto;
            color: #fff;
        }

        .card-footer {
            padding: .75rem 1.25rem;
        }
    }
}