@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto/regular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto-Light";
	src: url("../fonts/roboto/light.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto-Bold";
	src: url("../fonts/roboto/bold.ttf") format("truetype");
}