<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= htmlWebpackPlugin.options.title %></title>

	<link rel="apple-touch-icon" sizes="180x180" href="./static/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./static/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./static/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="./static/images/favicon/site.webmanifest">
	<link rel="mask-icon" href="./static/images/favicon/safari-pinned-tab.svg" color="#1ead2a">
	<meta name="msapplication-TileColor" content="#00a300">
	<meta name="theme-color" content="#215f2c">

	<script>
		var onloadCallback = function() {
			let captchaDomElementId;

			switch (window.location.pathname) {
				case '/':
					captchaDomElementId = 'submitFormCaptcha';
					break;	

				case '/register':
					captchaDomElementId = 'captcha';
					break;

				default:
					return false;
			}

			grecaptcha.render(captchaDomElementId, {
				'sitekey': '6Ldcl6wUAAAAAPk7Rccd9rBw-rrHbACb_PPs-Ahh',
				'theme': 'dark'
			});
		};
	</script>
</head>
<body>
	<div id="root"></div>

	<noscript>
		<div class="error-container" style="display: flex; flex-direction: column; padding: 15vh 25%;">
			<div class="error-grid-item logo" style="text-align: center;">
				<img src="./static/images/iptvplc.svg" alt="Logotype of IPTVPLC" style="max-width: 200px;">
			</div>
			<div class="error-grid-item text" style="font-family: 'Arial', sans-serif;">
				<h1 style="text-align: center">Ошибка!</h1>
				<h2 style="text-align: center">У Вас выключен Javascript</h2>
				<p>Приложение IPTVPLC использует Javascript как основной язык. Поскольку он у Вас выключен, мы не может отрисовывать приложение.</p>
				<p>Подробнее о включении Javascript можно посмотреть <a href="https://support.google.com/adsense/answer/12654?hl=ru" target="_blank">тут</a></p>
			</div>
		</div>
	</noscript>
	<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
</body>
</html>